@using DIY.Castle.Web.Areas.Administration.Models
@model CategoryRequestModel


<style>
    .validation_summary ul {
        list-style-type: none;
        font-family: Verdana;
    }
    .category-dropdown{
        width:50%;
        text-align:center;
    }
</style>

<div class="col-sm-5 mx-auto py-4">
    <div class="card">
        <div style="background-color:green" class="card-header text-uppercase text-white">
            <h4>Създаване на категория за продукт</h4>
        </div>
        <div class="card-body">

            <h4>Създай категория</h4>
            <form enctype="multipart/form-data" asp-action="Create" method="post">
                <div class="row">
                    <div class="validation_summary text-danger" style="text-align:left;list-style:none;" asp-validation-summary="All"></div>
                    <div class="col-md-12">
                        <p>Име:</p>
                    </div>
                    @*Create*@
                    <div class="col-md-8">
                        <div class="form-group">
                            <input asp-for="@Model.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input style="width:100%" type="submit" value="създай" class="btn btn-default btn-success rounded-0 text-uppercase" />
                    </div>
                </div>
            </form>

            <hr />
            <h4>Промени категория</h4>
            <form enctype="multipart/form-data" asp-action="Update" method="post">
                <div class="row">
                    @*Update*@

                    <div class="form-group col-md-12">
                        <select class="category-dropdown" asp-for="@Model.Id">
                            @foreach (var category in Model.AllCategories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-12">
                        <p>Ново име:</p>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input asp-for="@Model.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input style="width:100%" type="submit" value="промени" class="btn btn-default btn-warning rounded-0 text-uppercase" />
                    </div>
                </div>
            </form>

            <div style="display:flex; justify-content:space-between;" class="form-group">
                <a style="color: white" type="button" asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg btn-danger rounded-0 text-uppercase">откажи</a>

            </div>
        </div>
    </div>
</div>