@using DIY.Castle.Web.Models.Emails

@model CheckoutModel

<h1>Детайли:</h1>
<h3>Име: @Model.UserFormModel.FirstName</h3>
<h3>Фамилия: @Model.UserFormModel.LastName</h3>
<h3>Телефон за връзка: @Model.UserFormModel.PhoneNumber</h3>
<h3>Град: @Model.UserFormModel.City</h3>
<h3>Куриерска фирма: @Model.UserFormModel.CourrierOption</h3>
@if (Model.UserFormModel.CourrierOption == GlobalConstants.DeliveryOptions.Econt)
{
    <h3>Доставка до: @(Model.UserFormModel.DeliveryOption == GlobalConstants.DeliveryOptions.ToAddress || Model.UserFormModel.CourrierOption == GlobalConstants.DeliveryOptions.Speedy ? "Адрес" : "Офис")</h3>
}
else
{
    <h3>Доставка до: Адрес</h3>
}
<h3>Адрес: @Model.UserFormModel.Address</h3>
<h3>Email за връзка: @Model.UserFormModel.CustomerEmailAddress</h3>

<hr />
<h1>Продукти:</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на продукта</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена за един брой</th>
            <th scope="col">Снимка</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int count = 1;
        } 
        @foreach (var item in Model.CartModel.Cart)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.ProductVariation.Name</td>
                <td>@item.Quantity</td>
                <td>@item.ProductVariation.Price</td>
                <td><img src="@Url.Content(item.ProductVariation.ImagesSourcePaths[0])"/></td>
            </tr>

            count++;
        }
    </tbody>
</table>

<h1>Крайна цена: @Model.CartModel.TotalPrice лв.</h1>
<hr />