@using DIY.Castle.Web.Models.InputModels
@using DIY.Castle.Web.Helpers;
@using DIY.Castle.Web.Models.ViewModels;

@model CheckoutFormModel

@{
    var cart = SessionHelper.GetObjectFromJson<List<ProductCartModel>>(Context.Session, "cart");
    var hasProducts = false;
    if (cart != null)
    {
        hasProducts = cart.Any();
    }

    var totalPrice = cart == null
        ? Math.Round(0.00M, 2)
        : Math.Round(cart.Sum(p => p.ProductVariation.Price * p.Quantity), 2);

    string priceString = totalPrice.ToString("0.00");
}

<head>
    <link rel="stylesheet" href="~/css/checkout-page.css" />
</head>

<body>
    <div class="container">
        <div class="title">
            <h2 class="title-heading">Финализиране на поръчка</h2>
        </div>
        <div class="d-flex">
            <form id="checkout-form" asp-action="Checkout" method="post">
                <div class="validation_summary text-danger" style="text-align:left;list-style:none;" asp-validation-summary="All"></div>
                <label>
                    <span class="fname form-label-txt">Име <span class="required">*</span></span>
                    <input required type="text" asp-for="FirstName">
                </label>
                <label>
                    <span class="lname form-label-txt">Фамилия <span class="required">*</span></span>
                    <input required type="text" asp-for="LastName">
                </label>
                <label>
                    <span class="form-label-txt">Телефон <span class="required">*</span></span>
                    <input required type="tel" asp-for="PhoneNumber">
                </label>
                <label class="autocomplete">
                    <span class="form-label-txt">Град <span class="required">*</span></span>
                    <input required asp-for="City" cityID="0" id="myInput" placeholder="Въведете град и изберете от менюто" type="text" autocomplete="disabled">
                </label>
                <label>
                    <span class="form-label-txt">Куриер<span class="required">*</span></span>
                    <select asp-for="CourrierOption" id="courrierSelect" onchange="selectDeliveryCourrier()">
                        <option disabled selected>Изберете куриер</option>
                        <option value="Econt">Econt</option>
                        <option value="Speedy">Speedy</option>
                    </select>
                </label>
                <label hidden class="radio-option" id="delivery-option">
                    <span class="form-label-txt">Доставка до:</span><span></span>
                    <label class="radio-options">
                        <label class="form-label-txt" style="display:inline-block">
                            <input class="raido-option-choice" asp-for="DeliveryOption" type="radio" id="DeliveryOption" value="Office">
                            Офис
                        </label>

                        <label class="form-label-txt" style="display:inline-block">
                            <input class="raido-option-choice" asp-for="DeliveryOption" type="radio" id="DeliveryOption" value="Address">
                            Адрес
                        </label>
                    </label>
                </label>
                <label hidden id="econtOfficeContainer">
                    <span class="form-label-txt">Офис Еконт<span class="required">*</span></span>
                    <select id="officesEcont" asp-for="EcontOffice">
                    </select>
                </label>
                <label hidden id="speedyAddressContainer">
                    <span class="form-label-txt">Адрес <span class="required">*</span></span>
                    <input asp-for="Address" type="text" placeholder="Въведете адрес за доставка">
                </label>
                <label>
                    <span class="form-label-txt">Email Address <span class="required">*</span></span>
                    <input asp-for="CustomerEmailAddress" type="email">
                </label>
            </form>
            <!-- Yorder -->
            <div class="Yorder">
                <table>
                    <tr class="right-side-heading">
                        <th style="text-align: center; color: #4c5636;" colspan="3">Вашата поръчка</th>
                    </tr>
                    @if (cart != null &&
                    cart.Any())
                    {
                        @foreach (var product in cart)
                        {
                            <tr class="right-side-body">
                                <td width="20%">
                                    <img class="cart-product-img" src="@product.ProductVariation.ImagesSourcePaths[0]" />
                                </td>
                                <td width="50%">@product.ProductVariation.Name x @(product.Quantity)бр.</td>
                                <td width="30%">@(product.ProductVariation.Price * product.Quantity) лв.</td>

                            </tr>
                        }
                        <tr>
                            <td class="right-side-sum-txt">Сума</td>
                            <td></td>
                            <td class="right-side-sum-value">@totalPrice лв.</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>Количката ви е празна</td>
                            <td></td>
                        </tr>
                    }

                    @*<tr>bb
                            <td>Shipping</td>
                            <td>Free shipping</td>
                        </tr>*@
                </table>
                <div>
                    <p>Сумата не включва цената на доставката</p>
                </div>
                @*<div>
                        <input type="radio" name="dbt" value="cd"> Плащане при доставка
                    </div>*@
                <div>
                    <button @(hasProducts ? "" : "disabled") class="checkout-button @(hasProducts ? "" : "disabled-button")" form="checkout-form" type="submit">Поръчай</button>
                </div>
            </div>
            <!-- Yorder -->
        </div>
    </div>
</body>


<script src="~/js/checkout-page.js"></script>
<script src="~/js/jquery.min.v3.js"></script>
<script src="~/js/econt_services2.js"></script>