@model HomePageViewModel
@using DIY.Castle.Web.Helpers;
@using DIY.Castle.Web.Models;
@using DIY.Castle.Web.Models.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .product-card-image{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius:7px;
    }
</style>

<!DOCTYPE html>
<html>

<body>
    @* <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        <img style="max-height:200px;" class="top-right-side-frog" src="./images/top-right-side-frog.png" />
        </div>
        </div>*@
    <!-- STEPS =============================-->
    <div style="background-color:rgba(0, 0, 0, 0.3);border-radius: 35px;">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="col editContent">
                    <span class="numberstep"><i class="numberstep-icon fa fa-check-square-o"></i></span>
                    <h3 class="numbertext">Материали с качество</h3>
                    <p class="numbertext-description">
                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    </p>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="numberstep-icon fa fa-heart"></i></span>
                    <h3 class="numbertext">Направено с любов</h3>
                    <p class="numbertext-description">
                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    </p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="numberstep-icon fa fa-align-center"></i></span>
                    <h3 class="numbertext">Книжно вдъхновение</h3>
                    <p class="numbertext-description">
                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- LATEST ITEMS =============================-->
    <section class="item content">
        <div class="container">
            <div class="underlined-title">
                <div class="editContent">
                    <h2 style="font-family: Yarin; font-weight:500; font-size:50px" class="text-center latestitems">ПОСЛЕДНО ДОБАВЕНИ</h2>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.LatestProducts)
                {
                    <div class="col-md-4">

                        <div class="productbox">
                            <div class="fadeshop">
                                <div class="captionshop text-center" style="display: none;">
                                    @*<h3>@product.Name</h3>*@
                                    <h3> </h3>
                                    <p style="font-family: 'Guerrilla';">
                                        @(product.Description.Length > 105
                                    ? (product.Description.Substring(0, 105) + "...")
                                    : product.Description)
                                    </p>
                                    <p>
                                        @if (product.ProductVariations.Count == 1)
                                        {
                                            var firstSku = product.ProductVariations.FirstOrDefault();
                                            <a data-ajax="true" data-ajax-success="AddToBasket('1', '@firstSku.Id', '@product.Name', '@firstSku.Price')" type="submit" class="learn-more detailslearn">Добави</a>
                                        }


                                        <a asp-controller="ProductDetails" asp-action="Product" asp-route-id="@product.Id" class="learn-more detailslearn">Детайли</a>
                                    </p>
                                </div>
                               <img class="product-card-image" src="@product.ImagesSourcePaths[0]" alt="">
                            </div>
                            <div class="product-details">
                                <a href="#">
                                    <h1>@product.Name</h1>
                                </a>
                                <span class="price">
                                    <span class="edd_price">@product.Price лв.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <!-- /.productbox -->
            </div>
        </div>
    </section>

    <partial name="~/Views/Shared/_Carousel.cshtml" model="@Model.RandomProducts"/>

    <!-- SCRIPTS =============================-->
    <script src="~/js/jquery.min.v3.js"></script>

    <script>
        const logoEl = document.querySelector('.site_logo');
        logoEl.classList.add('animate__animated', 'animate__bounce');
    </script>

</body>
</html>