@using DIY.Castle.Web.Helpers;
@using DIY.Castle.Web.Models.ViewModels;

@{
    var cart = SessionHelper.GetObjectFromJson<List<ProductCartModel>>(Context.Session, "cart");

    var totalPrice = cart == null
        ? Math.Round(0.00M, 2)
        : Math.Round(cart.Sum(p => p.Product.Price * p.Quantity), 2);

    string priceString = totalPrice.ToString("0.00");
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<link rel="stylesheet" href="/side-shopping-cart/css/reset.css"> <!-- CSS reset -->*@
    <link rel="stylesheet" href="/side-shopping-cart/css/style.css"> <!-- Gem style -->
    @*<script src="/side-shopping-cart/js/modernizr.js"></script> <!-- Modernizr -->*@

    <title>Side Cart</title>
</head>
<body class="foo">
    <div>
        <div id="cd-cart-trigger"><a class="cd-img-replace">Cart1</a></div>
    </div>

    <div id="cd-shadow-layer"></div>

    <div style="font-family:Verdana; font-size: 16px;" id="cd-cart">
        <h2>Cart</h2>
        <ul id="cart-items" class="cd-cart-items">
            @if (cart != null)
            {
                foreach (var item in cart)
                {
                    <li id="item-id-@item.Product.Id">
                        <span class="cd-qty">@(item.Quantity)X </span><span>@item.Product.Name</span>
                        <div class="cd-price">@item.Product.Price</div>
                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" data-ajax="true" data-ajax-success="deleteItem(this, '@item.Product.Name')"
                        id="remove-item-@item.Product.Id" class="cd-item-remove cd-img-replace">Премахни</a>
                    </li>
                }
            }

        </ul> <!-- cd-cart-items -->

        <div id="total-price" class="cd-cart-total">
            <p>Total <span>@priceString лв.</span></p>
        </div> <!-- cd-cart-total -->

        <a href="#0" class="checkout-btn">Checkout</a>

        <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
    </div> <!-- cd-cart -->
</body>
</html>