@using DIY.Castle.Web.Models.ViewModels
@model CartViewModel
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
@*<link href="./css/stylecart.css" rel="stylesheet">*@

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Продукт</th>
                <th style="width:10%">Цена</th>
                <th style="width:8%">Количество</th>
                <th style="width:22%" class="text-center">Общо</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        @if (Model?.Cart != null)
        {
            foreach (var item in Model.Cart)
            {
                <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-4 hidden-lg"><img src="@item.Product.ImagesSourcePaths[0]" alt="..." class="img-responsive" /></div>
                                <div class="col-sm-8">
                                    <h4 class="nomargin">@item.Product.Name</h4>
                                    <p>
                                        @(item.Product.Description.Length > 105
                                            ? (item.Product.Description.Substring(0, 105) + "...")
                                            : item.Product.Description)
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@item.Product.Price лв.</td>
                        <td data-th="Quantity">
                            <input id="quantity-item-@item.Product.Id" type="number" disabled="disabled" class="form-control text-center" value=@item.Quantity>
                            <div style="display:inline-flex">
                                <form asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Product.Id" data-ajax="true" data-ajax-success="increaseQuantity('@item.Product.Id')">
                                    <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></button>
                                </form>
                                <form asp-controller="Cart" asp-action="DecreaseQuantity" asp-route-id="@item.Product.Id" data-ajax="true" data-ajax-success="decreaseQuantity('@item.Product.Id')">
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                </form>
                            </div>
                        </td>
                        <td id="cart-subtotal-amount-@item.Product.Id" data-th="Subtotal" class="text-center">@(item.Product.Price * item.Quantity) лв.</td>
                        <td class="actions" data-th="">
                            <form asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" data-ajax="true" data-ajax-success="deleteItem(this, '@item.Product.Name')">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>

            }
        }

        <tfoot>
            <tr>
                <td colspan="3" class="hidden-xs"></td>
                <td id="cart-total-amount-foot" class="hidden-xs text-center"><strong>@Model.TotalPrice.ToString("0.00")лв.</strong></td>
                <td><a asp-action="Index" asp-controller="CheckoutPage" class="btn btn-success btn-block">Checkout</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<script src="~/js/cart.js"></script>